/* CSS for dashboard.html and session.html created by Pawel Krezel (W1837610) */
.navigation-menu span{
    margin-top: 39vh;
    display: inline-block;
}

.dashboard-content{
    display: block;
    width: 100%;
    padding: 10px;
}

.dashboard-session-btn{
    margin-top: 0.25em;
    border-radius: 5px;
    font-size: 13px; 			
    background-color: #169BD5;
    color: #ffffff;
    border: none;

    /* 
    hard-coded values for width and height
    copied directly from Axure file used to develop the prototype */
    min-width: 228px;
    min-height: 40px;
}

.dashboard-session-btn:hover, .voting-card-nav .button-primary:hover{
    background-color: #58bceb;
}
.voting-card-nav .button-secondary:hover{
    background-color: #F2F2F2;
}
    
a, a:visited{
    text-decoration: none;
    color: #ffffff;
}

/* votting card css begins here */
.voting-card-body{
    max-width: 60vw;
    margin-top: 1em;
    border-color: #797979;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

/* everything related to the header of the voting card */
.voting-card-body div h3{
    margin-left: 1em;
    font-size: 24px;
    font-weight: bolder;
    color: #8C8C8C;
}
.voting-card-body div h3::before{
    content: "🌄";
}

.progress-bar{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 13px;
    margin-top: -1em;
    margin-bottom: 2em;
}

progress.progress-bar::-webkit-progress-bar{
    background-color: #F2F2F2;
    height: 13px;
    
}

progress.progress-bar::-webkit-progress-value{
    background-color: #169BD5;
    height: 13px;
}
/* everything related to traffic lights and hints */
.trafficlight-container, .comment-container{
    display: grid;
    grid-template-columns:auto auto auto auto auto;
    column-gap: 0.1em;
}
.trafficlight-container *{
    margin-left: auto;
    margin-right: auto;
}
.trafficlight-container input[type="radio"]{
    appearance: none;
    width: 140px;
    height: 140px;
    border: none;
    border-radius: 50%;
}
.trafficlight-container input[type="radio"].green, .summary-box .circle-green{
    background-color: #63A103;
}
.trafficlight-container input[type="radio"].amber, .summary-box .circle-amber{
    background-color: #F59A23;
}
.trafficlight-container input[type="radio"].red, .summary-box .circle-red{

    background-color: #D9001B;
}
.trafficlight-container .hint, .comment-container .comment-spacing {
    position: relative;
    top: 20px;
    width: 130px;
    height: 130px;
    text-align: center;
    overflow-y: visible;
    visibility: hidden;
}
.trafficlight-container input[type="radio"]:checked{
    border-width: 5px;
    border-style: solid;
    border-color: #000000;
}
.trafficlight-container:has(input[type="radio"].red:hover) .hint-red{
    visibility: visible;
} 
.trafficlight-container:has(input[type="radio"].green:hover) .hint-green{
    visibility: visible;    
} 

/* everything related to the comment section of the voting card */
.comment-field-container{
    column-span: 3;
    line-height: 43px;
}
.comment-field{
    width: 165%;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
}
.comment-label{
    display: block;
    float: none;
    padding: 0px;
    height: 20px;
    line-height: 20px;
    color: #767676;
}
.comment-label-top{
    margin-top: 1em;
    font-size: 14px;
}
.comment-label-bottom{
    position: relative;
    left: 2em;
    width: fit-content;
    font-size: 11px;
    margin-top: -1.5em;
}

/* everything related to navigation buttons at the bottom of the voting card */
.voting-card-nav{
    text-align: right;
    border-top-color: #D7D7D7;
    border-top-style: solid;
    border-top-width: 1px;
}


.voting-card-nav div, .voting-card-nav input, .voting-card-nav button{
    display: inline-block;
    text-align: center;
    width: 140px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    font-size: 13px;
    margin-right: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
}

.voting-card-nav .button-secondary{
    background-color: #FFFFFF;
    color: #8C8C8C;
    border-color: #797979;
    border-style: solid;
    border-width: 1px;
}

.voting-card-nav .button-primary{
    background-color: #169BD5;
    color: #FFFFFF;
    border-width: 1px;
    border-color: #169BD5;

}

/* everything related to voting card containing summary */
#voting-card-body-2137 .content-summary-container{
    min-height: 276px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.summary-box{
    background-color: #F2F2F2;
    border: none;
    width: 92%;
    max-width: 20vw;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    padding: 1px 5px;
}

.summary-box .summary-question-title, .summary-box .summary-traffic-light, .summary-box .summary-comment{
    padding: 0;
    margin: 0;
    display: inline-block;
    line-height: 20px;
    height: 20px;
    font-size: smaller;
}
.summary-box .summary-comment{
    font-size: x-small;
    line-height: 1.5ch;
    overflow: auto;
}

.summary-box .circle{
    display: inline-block;
    padding: 0;
    margin-top: 2;
    width: 30px;
    height: 10px;
    border-width: 0;
    border-radius: 20px;
}

.summary-box .pending-alert::before{
    content: "  !!!";
}
.summary-box .pending-alert::after{
    content: "!!!";
}
.summary-box .pending-alert{
    font-weight: bolder;
    font-size: x-large;
}

/* Not required by CW: simple responsive design makes the GUI of the voting cards less glitch-y and easier to read when viewd on a smaller screen */
@media only screen and (max-width: 1145px){
    .trafficlight-container input[type="radio"]{
        width: 10vw;
        height: 10vw;
    }
    .hint{
        font-size: x-small;
    }
    .comment-spacing{
        display: none;
    }
    .comment-field{
        width: 90%;
    }
}
@media only screen and (max-width: 900px){

    .trafficlight-container, .comment-container{
        grid-template-columns: auto;
    }
}
/* CSS for voting cards ends here */

