*{
    /* changing the font to Roboto by google fonts for all text on the website. CDN required in html files*/
    font-family: "Roboto", sans-serif;
}

.logoutWrapper{
    position: fixed;
    top: 20px;
    right:20px;
    z-index: 1000;
    text-align: center;
}

.logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.logout img {
    width: 40px;
    height: auto;
    margin-bottom: 5px;
}

.logout span {
    font-size: 12px;
    color: black;
}