{% extends "base.html" %} 
{% block content %}

{% load static %}
<head>
<link rel="stylesheet" href="{% static 'reset_password.css' %}">
</head>

    <body>
        <!--container for the text-->
        <div class="container">
                <h2> Check your inbox!</h2>
            <div class="subtextDone">If your account exists, we've sent you a password reset link!
                Didn't receive it? Try checking your spam folder or <a href="{% url 'reset_password' %}" class="tryDone"> try again</a>
            </div>
             <!-- take me home button -->
                <a href="{% url 'home' %}"><button class="button">Take me back to the home page</button></a>
        </div> 
    </body>
{% endblock %}

