{% extends 'base.html' %}
{% block title %} Voting Dashboard{% endblock %}
{% load static %}
{% block style_sheet %} <link rel="stylesheet" type="text/css" href="{% static 'voting/style.css'%}"> {% endblock %}
{% block content %}
    <section class="main-layout-voting">
        <nav class="navigation-menu">
            <span>Navigtion bar will be here</span>
        </nav>
        <section class="dashboard-content">
            <h1>Hello, {{request.user.username}}</h1>
            <hr>
                <h2>{{session.title}}</h2>
                <form method="POST" action="#">
                    {%csrf_token%}
                    {% for question in questions %}
                        <h3>{{question.question_content}}</h3>
                        <input type="radio" name="{{question.pk}}-colour" value="red" id="{{question.pk}}-red"><label for="{{question.pk}}-red">{{question.question_hint_red}}</label><br>
                        <input type="radio" name="{{question.pk}}-colour" value="amber" id="{{question.pk}}-amber">AMBER<br>
                        <input type="radio" name="{{question.pk}}-colour" value="green" id="{{question.pk}}-green"><label for="{{question.pk}}-green">{{question.question_hint_green}}</label><br>
                        <textarea name="{{question.pk}}-comment" id="{{question.pk}}-comment">optional comments for question with id equal to {{question.pk}}</textarea><br>
                        <button>NAV BUTTONS HERE IGNORE FOR NOW</button><button>NAV BUTTONS HERE IGNORE FOR NOW</button><button>NAV BUTTONS HERE IGNORE FOR NOW</button>
                        <hr>
                    {% endfor %}
                    <input type="submit" value="save answers">
                </form>
                

                    
                    {{question.question_hint_green}}
        </section>
    </section>

{% endblock %}