{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <div class="page-container">
        <!-- added this line because the navbar kept displaying on the register page-->
        {% if user.is_authenticated and request.path != '/register/' %}
        <header>
            {% include 'navbar.html' %}
        </header>
        {% endif %}
        
        <main>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        
        <footer>
            {% include 'footer.html' %}
        </footer>
    </div>
</body>
</html>