<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'voting/css/styles.css' %}">
    <title>Employee Satisfaction Voting</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- TBC, might delete later. It is pure chaos at the moment-->
</head>
<body>
    <header>
        <h1>Voting App</h1>
        <nav>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'logout' %}">Logout</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
