 <!-- Footer Section -->
 <footer>
    <div class="footer-container">
        <!-- Logo on the left -->
        <div class="footer-logo">
          <img src="{% static 'images/skylogo.jpeg' %}" alt="Sky Logo" class="logo">
        </div>
        <!-- Footer links on the right -->
    <div class="footer-links">
        <a href="/help/">Help</a>
        <a href="/accessibility/">Accessibility</a>
        <a href="/privacy/">Privacy & terms of use</a>
        <a href="/contact/">Contact us</a>
        <a href="/legal/">Legal</a>
      </div>
    </div>
  </footer>

</body>
</html>