<!-- team_summary and vote_summary created by Maryam Chaudhry (student no W1916669) & this page was created by Yasmin Balogun, w1985103 -->

<!--Maryam's Footer-->
{% load static %}

<footer>
  <div class="footer-container">
      <!-- Logo on the left -->
      <div class="footer-logo">
        <img src="{% static 'images/skylogo.png' %}" alt="Sky Logo" class="logo">
      </div>
      <!-- Footer links on the right -->
      <div class="footer-links">
        <a href="https://www.sky.com/help/home" target="_blank" rel="noopener">Help</a>
        <a href="https://www.sky.com/help/home/accessibility-information" target="_blank" rel="noopener">Accessibility</a>
        <a href="https://www.sky.com/help/articles/privacy-hub-home" target="_blank" rel="noopener">Privacy & terms of use</a>
        <a href="https://www.sky.com/help/articles/contacting-sky" target="_blank" rel="noopener">Contact us</a>
        <a href="https://skyforbusiness.sky.com/sb/portal/business/uk/terms_and_conditions/terms_and_conditions" target="_blank" rel="noopener">Legal</a>
        </div>
      </div>
  </div>
</footer>

</body>
</html>