
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* container */
.container {
    margin-top: 200px;
    background-color: white;
    padding: 20px;
    box-shadow: 1px 3px 10px 0px #888888;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.subtext{
    color: gray;
    font-size: small;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

button{
    padding: 9px;
    font-size: 13px;
    background-color: #ffffff;
    color: rgb(48, 48, 48);
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    border: black;
    border-style: solid;
    width: 147px;
    font-weight: bold;
}

.buttonBlue{
    padding: 10px;
    font-size: 13px;
    background-color: #038be0;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    width: 147px;
    font-weight: bold;
}

a {
text-decoration: none;
}

.img{
    margin-top: 1px;
    width: 40px;
    height: auto;
}

h1{
    text-align: center;
}
